<apex:page controller="NavigationTest_Controller">
    <apex:includeScript value="/soap/ajax/21.0/connection.js"/>
    <apex:includeScript value="/soap/ajax/21.0/apex.js"/>
    <style>
        #popup {
        width: 320px;
        height: 300px;
        margin: 0 auto;
        box-shadow: 1px 1px 1px 1px blue;
        display: none        
        }
        #popup iframe {
        width: 100%;
        height: 100%
        }
    </style>
    <script>
    function PopIframe(AccountId)
    {
        test1 = "/apex/NavigationTest1?AccountId="+AccountId; 
        console.log(test1);
        //document.write('<iframe height="450"  allowTransparency="false" frameborder="0" scrolling="yes" style="width:50%;" src="'+test1+'" type= "text/javascript"></iframe>');
    } 
    
    function NavigateLightning(AccountId){
        console.log(AccountId);
        var url="/" + AccountId;
        //+ AccountId;//Use '/apex/PageName?' + Parameters to navigate to the url
        sforce.one.navigateToURL(url, false);
        
        //window.open("/apex/navigationTest", "+_Blank", "width=400,height=200,menubar=no,toolbar=no"); // Works fine for the popup
    }
    function CallApex(){
        sforce.connection.sessionId = "{!$Api.Session_ID}";
        var id = sforce.apex.execute("NavigationTest_Controller","NavigatetoAccLight",{}); //Using connection.js for calling the apex method.
        //NavigateLightning(id);    
        //PopIframe(id);
        //var popup = document.getElementById("popup");
        popup.style.display = "block";
        window.setTimeout(function(){
            alert("Inside delay: ");
        }, 4000);
        console.log("Why Refreshing");
        //window.setTimeout(function, milliseconds);          
    }
    </script>
    <apex:form >
        <div id="popup">
            <iframe id="popupFrame" src="'/apex/NavigationTest1?AccountId='+{!AccountId}"></iframe>
        </div>
        <apex:outputPanel rendered="{!$User.UIThemeDisplayed == 'Theme3'}">
            <apex:outputText value="This is Superb salesforce classic."/>
            <!--apex:commandButton action ="{!Navigate}"/-->
            <apex:commandButton title="Navigate" value="NavigateVF" action="{!NavigatetoAccount}"/>
            <!--apex:commandButton title="Navigate" value="NavigateVF" onclick="CallApex()"/-->
            {!UITheme}
        </apex:outputPanel>
        <apex:outputPanel rendered="{!$User.UIThemeDisplayed == 'Theme4d'}">
            <apex:outputText value="Everything is simpler in Lightning Experience."/>
            <apex:commandButton title="Navigate" value="NavigateLightning" onclick="CallApex()" />
            {!AccountId}
        </apex:outputPanel>
    </apex:form>
</apex:page>