<apex:page controller="NavigationTest_Controller1">
    <apex:form >
        <apex:outputPanel rendered="{!$User.UIThemeDisplayed == 'Theme3'}">
            <apex:outputText value="This is Superb salesforce classic."/>
            {!AccountId}
        </apex:outputPanel>
        <apex:outputPanel rendered="{!$User.UIThemeDisplayed == 'Theme4d'}">
            <apex:outputText value="Everything is simpler in Lightning Experience."/>
            {!AccountId}
        </apex:outputPanel>
    </apex:form>
</apex:page>